interval_in_seconds: 300
discourse_url: 'https://your-discourse-address.com/posts.json'
category: 6
sources:
  - sciencedaily:
    username: 'Science_Daily'
    api_key: 'insert_api_key_here'
    urls: 
      - 'https://www.sciencedaily.com/rss/mind_brain/mental_health.xml'
      - 'https://www.sciencedaily.com/rss/mind_brain/alcoholism.xml'
      - 'https://www.sciencedaily.com/rss/mind_brain/anxiety.xml'
