interval_in_seconds: 300
discourse_url: 'https://your-discourse-address.com/posts.json?api_key=your-api-key&api_username=your-username' # string
topic_id: 6 # integer
rss_feeds: # list of strings
 - https://first.rss.feed.address
 - https://second.rss.feed.address
 - https://third.rss.feed.address
