interval_in_seconds: 300
discourse_url: 'https://your-discourse-address.com/posts.json'
topic_id: 6
rss_feeds:
    - sciencedaily: # this should be a unique name for the feed
    url: 'https://www.sciencedaily.com/rss/mind_brain/mental_health.xml'
    username: 'Science_Daily'
    api_key: <enter api key here>
