[Unit]
Description=RSS to Discourse post service

[Service]
Type=simple
User=ubuntu
ExecStart=/usr/bin/python3 /path/to/mha_postservice/main.py --config /path/to/config.yaml
Restart=always

